# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/
coverage.xml
*.cover

# Environments
.env
.venv
venv/
ENV/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# Test reports
/tests/*.html

pytest_output.txt